{% load static %}
<!doctype html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <link rel="stylesheet" type="text/css" 
   href="{% static 'menu/css/style.css' %}" >
</head>

<body>
<div class="middle">

  <h2>{{title}}</h2>
  
  <div class="msg"><p>{{msg}}</p></div>
  
  <p class="msg">所持金：{{data.money}}円</p>
  
    <table class="msg">
      <tr>
        <th>&nbsp;&nbsp;&nbsp;name&nbsp;&nbsp;&nbsp;&nbsp;</th>
        <th>&nbsp;&nbsp;&nbsp;type&nbsp;&nbsp;&nbsp;</th>
        <th>comment&nbsp;</th><th>price</th><th></th>
      </tr>
        <form action="{% url 'shop_buy' data.id %}" method="post">
          {% csrf_token %}
      <tr>
        <th>リンゴLv1</th><td>回復５</td><td>おいしいリンゴ</td><td>100</td>
        <th></th><td><input type="submit" name="apple" value="買う"></td>
      </tr><tr>
        <th>パンLV1</th><td>回復１０</td><td>日持ちする固めのパン</td><td>180</td>
        <th></th><td><input type="submit" name="bread" value="買う"></td>
      </tr><tr>
        <th>チーズLV1</th><td>回復２０</td><td>手作りチーズ、ちょっと臭い</td><td>350</td>
        <th></th><td><input type="submit" name="cheese" value="買う"></td>
        </form>
      </tr>
    </table>
    
    <hr></hr>
  <br>
  <a href="{% url 'item_shop' data.id %}" class="msg">戻る</a>
  
</div>
</body>
</html>